{% extends 'base.html' %}
    {% block content %}
    <section class="container-poke-imagem">
        <div class="poke1">
            <p class="imagem-pokemon">Pokemão.jpg</p>
        </div>
            <div class="poke2">
            <p class="imagem-pokemon">Pokemão.jpg</p>
        </div>
        <div class="poke3">
            <p class="imagem-pokemon">Pokemão.jpg</p>
        </div>
    </section>
    <form class="pesquisa">
        <input type="search" id="texto" list="pokemons" placeholder="Digite o pokemon aqui">
        <datalist id="pokemons">
        </datalist>
    </form>
    {% endblock %}